<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>config</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- ZUI 标准版压缩后的 CSS 文件 -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/zui/1.8.1/css/zui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/zui/1.8.1/lib/datagrid/zui.datagrid.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- ZUI 标准版压缩后的 JavaScript 文件 -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/zui/1.8.1/js/zui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zui/1.8.1/lib/datagrid/zui.datagrid.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- marked插件 -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <!-- hightlight插件 -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.15.6/build/styles/default.min.css">
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.15.6/build/highlight.min.js"></script>
</head>

<body>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-collapse collapse" style="text-align: center;">
                    <ul class="nav navbar-nav" style="display: inline-block;float: none;">
                        <li class="active"> <a href="/index">首页</a> </li>
                        <li> <a href="/write">写作</a> </li>
                        <li> <a href="/config">管理</a> </li>
                        <li> <a href="/message">留言</a> </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-3 column">
        </div>
        <div class="col-md-6 column">
            <div class="row clearfix">
                <table class="table table-striped">
                    <thead>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>OPTION</th>
                    </thead>
                    <tbody>
                    <tr th:each="folder: ${folders}">
                        <td th:text="${folder.id}"></td>
                        <td th:text="${folder.name}"></td>
                        <td><a th:href="@{'/folder/delete?id=' + ${folder.id}}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row clearfix">
                <table class="table table-striped">
                    <thead>
                    <th>ID</th>
                    <th>TITLE</th>
                    <th>FOLDER_ID</th>
                    <th>PUBLISH_TIME</th>
                    <th>MODITY_TIME</th>
                    <th>OPTION</th>
                    </thead>
                    <tbody>
                    <tr th:each="article: ${articles}">
                        <td th:text="${article.id}"></td>
                        <td th:text="${article.title}"></td>
                        <td th:text="${article.folderId}"></td>
                        <td th:text="${article.publishTime}"></td>
                        <td th:text="${article.modifyTime}"></td>
                        <td>
                            <a th:href="@{'/article/editor?id=' + ${article.id}}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            &nbsp;&nbsp;
                            <a th:href="@{'/article/delete?id=' + ${article.id}}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3 column">
        </div>
    </div>
</div>
</body>
</html>